In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

# 3 KM

In [3]:
df_3 = pd.read_excel("data/3_km.xls", sheet_name='3 KM')

In [4]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 6 columns):
Pos          672 non-null int64
Стартовый    672 non-null int64
Age          672 non-null int64
Разворот     672 non-null object
Финиш        672 non-null object
Чип время    672 non-null object
dtypes: int64(3), object(3)
memory usage: 31.6+ KB

In [5]:
df_3.head()

   Pos  Стартовый  Age Разворот    Финиш Чип время
0    1      15527   13  0:04:50  0:10:12   0:10:10
1    2      15802   14  0:04:51  0:10:49   0:10:46
2    3      16052   14  0:05:07  0:11:14   0:11:12
3    4      15984   14  0:05:08  0:11:20   0:11:18
4    5      15737    9  0:05:30  0:11:30   0:11:26

In [16]:
df_3['Age'].max()

25

In [32]:
# df_3['age_groups'] = pd.cut([18, 34, 49, 59], bins=4)
# pd.cut(df_10['Age'], [0, 18, 34, 49, 60]).value_counts()
# df_10["Age"]

def age_group(df):
    if 0<=df<=18:
        return '0-18'
    elif 18<=df<34:
        return '18-34'
    elif 35<=df<49:
        return '35-49'
    elif 50<=df<59:
        return '50-59'
    else:
        return "60+"
    
# df['age_group'] = df_42['Age'].apply(age_group).value_counts()
df_nordic['Age'].apply(age_group).value_counts()

35-49    142
18-34    109
60+       78
50-59     74
0-18       6
Name: Age, dtype: int64

# 10 KM

In [18]:
df_10 = pd.read_excel("data/10_km.xls", sheet_name='10 KM')

In [10]:
df_10.head()

   Pos  Стартовый Gender  Age 2.27 km Аль-Фараби Достык Gun Time Chip Time
0    1      10816      M   26                   0:08:06  0:32:31   0:32:30
1    2       7630      M   24                   0:08:06  0:32:46   0:32:42
2    3      13919      M   27                   0:08:07  0:34:02   0:34:01
3    4       6659      M   28                   0:08:07  0:35:57   0:35:54
4    5      10090      M   17                   0:08:21  0:36:05   0:35:58

In [9]:
len(df_10[df_10['Age']=='М'])

0

# 21 KM

In [8]:
df_21 = pd.read_excel("data/21_km.xls", sheet_name='21 KM')

In [9]:
df_21.head()

   Pos  Стартовый Gender  Age 8.0 km ППП 12.0 km Абая Саина Gun Time Chip Time
0    1       4266      M   27    0:27:45            0:41:00  1:10:28   1:09:46
1    2       3748      M   24    0:27:45            0:41:25  1:11:05   1:10:49
2    3       3760      M   30    0:28:14            0:42:14  1:13:23   1:13:23
3    4       5134      M   28    0:30:10            0:44:42  1:15:47   1:15:10
4    5       5823      M   33    0:30:05            0:44:42  1:16:57   1:16:32

# 42 KM

In [10]:
df_42 = pd.read_excel("data/42_km.xls", sheet_name='42 KM')

In [11]:
df_42.head()

,Pos,Стартовый,Gender,Age,8.0 km ППП,12.0 km Абая Саина,21.0 km Площадь Республики,29.0 km ППП,33.0 km Абая Саина,Gun Time,Chip Time
0,1,1103,M,30,0:28:10,0:42:07,NaN,1:43:34,1:57:29,2:28:34,2:28:31
1,2,1202,M,29,0:30:06,0:45:14,1:17:34,1:47:42,2:02:15,2:34:49,2:34:49
2,3,491,M,26,0:29:22,0:43:59,1:16:00,1:46:21,2:01:30,2:34:57,2:34:57
3,4,492,M,37,0:29:43,0:44:30,1:16:54,1:47:41,2:02:29,2:36:51,2:36:51
4,5,768,M,24,0:30:22,0:45:57,1:17:53,1:47:43,2:02:29,2:38:59,2:38:59

# NORDIC

In [6]:
df_nordic = pd.read_excel("data/nordic.xls", sheet_name='NORDIC')

In [7]:
df_nordic.head()

   Pos  Стартовый Gender  Age  2.27 km Gun Time Chip Time
0    3      15170      M   17  0:07:58  1:00:14   1:00:14
1    4      15171      M   17  0:07:39  1:00:15   1:00:15
2    5      15159      M   37  0:13:56  1:03:01   1:03:01
3    6      15167      M   41  0:07:04  1:03:10   1:03:10
4    7      14753      M   37  0:12:39  1:05:50   1:05:50