In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
def age_group(df):
    if 0<=df<=18:
        return '0-18'
    elif 18<=df<34:
        return '18-34'
    elif 35<=df<49:
        return '35-49'
    elif 50<=df<59:
        return '50-59'
    else:
        return "60+"

# 3 KM

In [3]:
df_3 = pd.read_excel("data/3_km.xls", sheet_name='3 KM')
df_3['Разворот'] = pd.to_timedelta(df_3['Разворот'])
df_3['Чип время'] = pd.to_timedelta(df_3['Чип время'])

In [4]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 6 columns):
Pos          672 non-null int64
Стартовый    672 non-null int64
Age          672 non-null int64
Разворот     672 non-null timedelta64[ns]
Финиш        672 non-null object
Чип время    672 non-null timedelta64[ns]
dtypes: int64(3), object(1), timedelta64[ns](2)
memory usage: 31.6+ KB

In [5]:
df_3.head()

   Pos  Стартовый  Age Разворот    Финиш Чип время
0    1      15527   13 00:04:50  0:10:12  00:10:10
1    2      15802   14 00:04:51  0:10:49  00:10:46
2    3      16052   14 00:05:07  0:11:14  00:11:12
3    4      15984   14 00:05:08  0:11:20  00:11:18
4    5      15737    9 00:05:30  0:11:30  00:11:26

In [6]:
df_3['Age'].max()

25

# 10 KM

In [7]:
df_10 = pd.read_excel("data/10_km.xls", sheet_name='10 KM')
df_10['2.27 km Аль-Фараби Достык'] = pd.to_timedelta(df_10['2.27 km Аль-Фараби Достык'])
df_10['Gun Time'] = pd.to_timedelta(df_10['Gun Time'])

In [8]:
df_10.head()

   Pos  Стартовый Gender  Age 2.27 km Аль-Фараби Достык Gun Time Chip Time
0    1      10816      M   26                  00:08:06 00:32:31   0:32:30
1    2       7630      M   24                  00:08:06 00:32:46   0:32:42
2    3      13919      M   27                  00:08:07 00:34:02   0:34:01
3    4       6659      M   28                  00:08:07 00:35:57   0:35:54
4    5      10090      M   17                  00:08:21 00:36:05   0:35:58

In [9]:
df_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7478 entries, 0 to 7477
Data columns (total 7 columns):
Pos                          7478 non-null int64
Стартовый                    7478 non-null int64
Gender                       7478 non-null object
Age                          7478 non-null int64
2.27 km Аль-Фараби Достык    7478 non-null timedelta64[ns]
Gun Time                     7478 non-null timedelta64[ns]
Chip Time                    7478 non-null object
dtypes: int64(3), object(2), timedelta64[ns](2)
memory usage: 409.0+ KB

In [34]:
df_10['Gun Time'].min()

Timedelta('0 days 00:32:31')

In [10]:
df_10['Gender'].value_counts()

F    4124
M    3354
Name: Gender, dtype: int64

# 21 KM

In [9]:
df_21 = pd.read_excel("data/21_km.xls", sheet_name='21 KM')
df_21['8.0 km ППП'] = pd.to_timedelta(df_21['8.0 km ППП'])
df_21['12.0 km Абая Саина'] = pd.to_timedelta(df_21['12.0 km Абая Саина'])
df_21['Gun Time'] = pd.to_timedelta(df_21['Gun Time'])

In [10]:
df_21.head()

   Pos  Стартовый Gender  Age 8.0 km ППП 12.0 km Абая Саина Gun Time Chip Time
0    1       4266      M   27   00:27:45           00:41:00 01:10:28   1:09:46
1    2       3748      M   24   00:27:45           00:41:25 01:11:05   1:10:49
2    3       3760      M   30   00:28:14           00:42:14 01:13:23   1:13:23
3    4       5134      M   28   00:30:10           00:44:42 01:15:47   1:15:10
4    5       5823      M   33   00:30:05           00:44:42 01:16:57   1:16:32

In [11]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 8 columns):
Pos                   3683 non-null int64
Стартовый             3683 non-null int64
Gender                3683 non-null object
Age                   3683 non-null int64
8.0 km ППП            3683 non-null timedelta64[ns]
12.0 km Абая Саина    3683 non-null timedelta64[ns]
Gun Time              3683 non-null timedelta64[ns]
Chip Time             3683 non-null object
dtypes: int64(3), object(2), timedelta64[ns](3)
memory usage: 230.3+ KB

In [8]:
df_21['Gun Time'].tail()

3678   03:53:50
3679   03:59:11
3680   03:59:18
3681   04:11:36
3682   04:47:13
Name: Gun Time, dtype: timedelta64[ns]

In [7]:
df_21[df_21['Pos']==3205]

,Pos,Стартовый,Gender,Age,8.0 km ППП,12.0 km Абая Саина,Gun Time,Chip Time
3204,3205,2694,F,25,01:03:17,01:36:27,02:48:11,2:45:47

In [12]:
df_21.tail(10)

,Pos,Стартовый,Gender,Age,8.0 km ППП,12.0 km Абая Саина,Gun Time,Chip Time
3673,3674,5915,M,36,01:30:43,02:08:27,03:45:10,3:41:49
3674,3675,1751,F,59,01:19:50,02:01:25,03:46:12,3:43:58
3675,3676,1904,F,40,01:28:09,02:07:54,03:46:35,3:40:30
3676,3677,5922,M,38,01:28:45,02:08:28,03:47:24,3:44:01
3677,3678,1750,F,23,01:26:59,02:10:53,03:47:41,3:44:00
3678,3679,5529,M,32,01:33:21,02:10:52,03:53:50,3:33:49
3679,3680,4119,F,29,01:23:41,01:54:50,03:59:11,3:57:53
3680,3681,18224,F,39,01:32:39,02:21:51,03:59:18,3:57:56
3681,3682,1929,F,27,02:01:10,02:41:54,04:11:36,4:11:36
3682,3683,2962,F,57,00:50:49,01:14:20,04:47:13,4:46:29

In [13]:
df_21['tt'] = 30
df_21.head()

,Pos,Стартовый,Gender,Age,8.0 km ППП,12.0 km Абая Саина,Gun Time,Chip Time,tt
0,1,4266,M,27,00:27:45,00:41:00,01:10:28,1:09:46,30
1,2,3748,M,24,00:27:45,00:41:25,01:11:05,1:10:49,30
2,3,3760,M,30,00:28:14,00:42:14,01:13:23,1:13:23,30
3,4,5134,M,28,00:30:10,00:44:42,01:15:47,1:15:10,30
4,5,5823,M,33,00:30:05,00:44:42,01:16:57,1:16:32,30

In [14]:
df_21['Gender'].value_counts()

M    2623
F    1060
Name: Gender, dtype: int64

# 42 KM

In [60]:
df_42 = pd.read_excel("data/42_km.xls", sheet_name='42 KM')
print(df_42['Gun Time'].tail())
df_42['8.0 km ППП'] = pd.to_timedelta(df_42['8.0 km ППП'])
df_42['12.0 km Абая Саина'] = pd.to_timedelta(df_42['12.0 km Абая Саина'])
df_42['21.0 km Площадь Республики'] = pd.to_timedelta(df_42['21.0 km Площадь Республики'])
df_42['29.0 km ППП'] = pd.to_timedelta(df_42['29.0 km ППП'])
df_42['33.0 km Абая Саина'] = pd.to_timedelta(df_42['33.0 km Абая Саина'])
df_42['Gun Time'] = pd.to_timedelta(df_42['Gun Time'])

1037    6:04:20
1038    6:04:21
1039    6:04:31
1040    6:06:00
1041    6:06:43
Name: Gun Time, dtype: object

In [61]:
df_42.head()

,Pos,Стартовый,Gender,Age,8.0 km ППП,12.0 km Абая Саина,21.0 km Площадь Республики,29.0 km ППП,33.0 km Абая Саина,Gun Time,Chip Time
0,1,1103,M,30,00:28:10,00:42:07,NaT,01:43:34,01:57:29,02:28:34,2:28:31
1,2,1202,M,29,00:30:06,00:45:14,01:17:34,01:47:42,02:02:15,02:34:49,2:34:49
2,3,491,M,26,00:29:22,00:43:59,01:16:00,01:46:21,02:01:30,02:34:57,2:34:57
3,4,492,M,37,00:29:43,00:44:30,01:16:54,01:47:41,02:02:29,02:36:51,2:36:51
4,5,768,M,24,00:30:22,00:45:57,01:17:53,01:47:43,02:02:29,02:38:59,2:38:59

In [62]:
df_42.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 11 columns):
Pos                           1042 non-null int64
Стартовый                     1042 non-null int64
Gender                        1042 non-null object
Age                           1042 non-null int64
8.0 km ППП                    1042 non-null timedelta64[ns]
12.0 km Абая Саина            1042 non-null timedelta64[ns]
21.0 km Площадь Республики    1021 non-null timedelta64[ns]
29.0 km ППП                   1042 non-null timedelta64[ns]
33.0 km Абая Саина            1040 non-null timedelta64[ns]
Gun Time                      1042 non-null timedelta64[ns]
Chip Time                     1042 non-null object
dtypes: int64(3), object(2), timedelta64[ns](6)
memory usage: 89.6+ KB

In [53]:
df_42['Gender'].value_counts()

M    921
F    121
Name: Gender, dtype: int64

In [54]:
df_42['age_group']      = df_42['Age'].apply(age_group)
df_42.head()

,Pos,Стартовый,Gender,Age,8.0 km ППП,12.0 km Абая Саина,21.0 km Площадь Республики,29.0 km ППП,33.0 km Абая Саина,Gun Time,Chip Time,age_group
0,1,1103,M,30,00:28:10,00:42:07,NaT,01:43:34,01:57:29,02:28:34,2:28:31,18-34
1,2,1202,M,29,00:30:06,00:45:14,01:17:34,01:47:42,02:02:15,02:34:49,2:34:49,18-34
2,3,491,M,26,00:29:22,00:43:59,01:16:00,01:46:21,02:01:30,02:34:57,2:34:57,18-34
3,4,492,M,37,00:29:43,00:44:30,01:16:54,01:47:41,02:02:29,02:36:51,2:36:51,35-49
4,5,768,M,24,00:30:22,00:45:57,01:17:53,01:47:43,02:02:29,02:38:59,2:38:59,18-34

In [64]:
# df_42['29.0 km ППП'] = df_42['29.0 km ППП'].dt.seconds
df_42['Gun Time'] = df_42['Gun Time'].dt.seconds/60

In [66]:
df_42[df_42['Стартовый'] == 637]

,Pos,Стартовый,Gender,Age,8.0 km ППП,12.0 km Абая Саина,21.0 km Площадь Республики,29.0 km ППП,33.0 km Абая Саина,Gun Time,Chip Time
1041,1042,637,M,37,01:11:07,01:37:39,02:45:06,04:12:09,04:53:08,366.716667,6:06:43

In [47]:
df_42.head()

,Pos,Стартовый,Gender,Age,8.0 km ППП,12.0 km Абая Саина,21.0 km Площадь Республики,29.0 km ППП,33.0 km Абая Саина,Gun Time,Chip Time,tt
0,1,1103,M,30,00:28:10,00:42:07,NaT,6214,01:57:29,8914,2:28:31,30
1,2,1202,M,29,00:30:06,00:45:14,01:17:34,6462,02:02:15,9289,2:34:49,30
2,3,491,M,26,00:29:22,00:43:59,01:16:00,6381,02:01:30,9297,2:34:57,30
3,4,492,M,37,00:29:43,00:44:30,01:16:54,6461,02:02:29,9411,2:36:51,30
4,5,768,M,24,00:30:22,00:45:57,01:17:53,6463,02:02:29,9539,2:38:59,30

# NORDIC

In [27]:
df_nordic = pd.read_excel("data/nordic.xls", sheet_name='NORDIC')

In [28]:
df_nordic.head()

   Pos  Стартовый Gender  Age  2.27 km Gun Time Chip Time
0    3      15170      M   17  0:07:58  1:00:14   1:00:14
1    4      15171      M   17  0:07:39  1:00:15   1:00:15
2    5      15159      M   37  0:13:56  1:03:01   1:03:01
3    6      15167      M   41  0:07:04  1:03:10   1:03:10
4    7      14753      M   37  0:12:39  1:05:50   1:05:50