In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# 3 KM

In [5]:
df_3 = pd.read_excel("3_km.xls", sheet_name='3 KM')

In [6]:
df_3.head()

   Pos  Стартовый  Age Разворот    Финиш Чип время
0    1      15527   13  0:04:50  0:10:12   0:10:10
1    2      15802   14  0:04:51  0:10:49   0:10:46
2    3      16052   14  0:05:07  0:11:14   0:11:12
3    4      15984   14  0:05:08  0:11:20   0:11:18
4    5      15737    9  0:05:30  0:11:30   0:11:26

# 10 KM

# 21 KM

# 42 KM

# NORDIC